.chart {}
.main text {
	font: 10px sans-serif;	
}
path { 
    stroke: black;
    stroke-width: 2;
    fill: none;
}
.axis line, .axis path {
	shape-rendering: crispEdges;
	stroke: black;
	fill: none;
}
.axis text {
	font-family: sans-serif;
	font-size: 11px;
}
circle {
	fill: steelblue;
}
.bar rect {
  fill: steelblue;
}

.bar text {
  /*fill: #fff;*/
  fill: black;
  font: 10px sans-serif;
  font-weight: bold;
}

/* prettifying POST json */
pre {outline: 1px solid #ccc; padding: 5px; margin: 5px; }
.string { color: green; }
.number { color: darkorange; }
.boolean { color: blue; }
.null { color: magenta; }
.key { color: red; }